* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box; }

.body {
  width: 90%;
  height: 100%;
  background-color: #ffffff; }

header {
  background-color: #93C5FF;
  width: 100%;
  position: fixed;
  height: 75px;
  margin-top: 0;
  box-shadow: 0px 2px 50px #000000;
  z-index: 1000; }
  header .navbar {
    background-color: #93C5FF; }
    header .navbar .container-fluid .navbar-toggler {
      border: none;
      color: #93C5FF; }
    header .navbar .collapse .navbar-nav {
      margin: auto;
      font-size: 1.4rem; }
      header .navbar .collapse .navbar-nav a:hover {
        font-weight: bold; }

main {
  background-color: #ffffff;
  z-index: -1;
  padding-top: 75px; }
  main .imagen {
    width: 100%;
    height: 100%; }

footer {
  background-color: #0c6cc6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #ffffff; }
  footer .pie1 {
    margin-top: 20px;
    margin-bottom: 20px; }
    footer .pie1 h3 {
      font-size: 1.5rem;
      font-weight: bold; }
    footer .pie1 ul {
      text-align: center;
      padding-left: 0; }
      footer .pie1 ul li {
        list-style: none; }
        footer .pie1 ul li a {
          text-decoration: none;
          line-height: 1.5rem;
          color: #ffffff; }
          footer .pie1 ul li a:hover {
            color: #ffffff;
            font-weight: 1000; }
  footer .pie2 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; }
    footer .pie2 h3 {
      font-size: 1.5rem;
      font-weight: bold; }
    footer .pie2 .telefono .whatsapp {
      width: 25px;
      height: 25px;
      margin-top: 10px;
      display: inline-block;
      margin-top: 0px; }
    footer .pie2 .telefono p {
      display: inline-block; }
    footer .pie2 .correoelectronico .mail {
      width: 25px;
      height: 25px;
      margin-top: 10px;
      display: inline-block;
      margin-top: 0px; }
    footer .pie2 .correoelectronico p {
      display: inline-block; }
    footer .pie2 .direccion .mapa {
      width: 25px;
      height: 25px;
      margin-top: 10px;
      display: inline-block;
      margin-top: 0px; }
    footer .pie2 .direccion p {
      display: inline-block; }
  footer .pie3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center; }
    footer .pie3 h3 {
      font-size: 1.5rem;
      font-weight: bold; }
    footer .pie3 .iconredes .instagram {
      width: 25px;
      height: 25px; }
    footer .pie3 .iconredes .facebook {
      width: 25px;
      height: 25px;
      margin-left: 10px; }
    footer .pie3 .iconredes .twitter {
      width: 25px;
      height: 25px;
      margin-left: 10px; }

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column; }
    footer .pie1 {
      margin: auto; }
      footer .pie1 .pie1 ul {
        text-align: center;
        padding-left: 0; }
    footer .pie2 {
      margin: auto; }
      footer .pie2 h3 {
        text-align: center;
        display: none; }
      footer .pie2 .telefono {
        text-align: center; }
        footer .pie2 .telefono .img {
          text-align: center; }
      footer .pie2 .correoelectronico {
        text-align: center; }
        footer .pie2 .correoelectronico img {
          text-align: center; }
    footer .pie3 {
      margin: auto; }
      footer .pie3 h3 {
        text-align: center;
        display: none; }
      footer .pie3 .iconredes {
        text-align: center;
        margin-bottom: 5px; } }

.accordion {
  width: 100%; }
  .accordion .accordion-item {
    border: none;
    margin-top: 15px;
    margin-bottom: 15px; }
    .accordion .accordion-item .accordion-button:not(.collapsed) {
      background-color: #ffffff; }
    .accordion .accordion-item .accordion-button {
      font-size: 1.2rem; }
      .accordion .accordion-item .accordion-button:hover {
        font-weight: bold;
        color: #aa00ff; }
  .accordion .accordion-body {
    color: #aa00ff;
    font-size: 1.2rem; }

.contacto .formulario {
  background-color: #93C5FF;
  width: 50%;
  margin: 10px auto;
  padding: 1px 1px;
  filter: grayscale(100%);
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }
  .contacto .formulario:hover {
    border-radius: 5%;
    filter: grayscale(0%);
    transition-duration: 1s;
    transition-timing-function: linear; }
  .contacto .formulario form {
    width: 75%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #000000; }
    .contacto .formulario form .mb-3 {
      margin-top: 15px; }
      .contacto .formulario form .mb-3 textarea {
        box-shadow: 5px 5px 10px #93C5FF;
        resize: vertical;
        max-height: 150px; }
    .contacto .formulario form .borrar {
      margin-top: 20px;
      width: 150px;
      height: 50px;
      background-color: #940000;
      color: #ffffff; }
      .contacto .formulario form .borrar:hover {
        background-image: linear-gradient(200deg, #940000, #c90000, #940000, #c90000, #940000, #c90000);
        background-size: auto 210%;
        background-position: 0 100%;
        transition: background-position 1s; }
    .contacto .formulario form .enviar {
      margin-top: 20px;
      width: 150px;
      height: 50px;
      background-color: #003b94;
      color: #ffffff; }
      .contacto .formulario form .enviar:hover {
        background-image: linear-gradient(200deg, #003b94, #0050c8, #003b94, #0050c8, #003b94, #0050c8);
        background-size: auto 210%;
        background-position: 0 100%;
        transition: background-position 1s; }

@media screen and (max-width: 768px) {
  .contacto .formulario {
    width: 90%;
    margin: 5px auto;
    padding: 1px 1px;
    filter: grayscale(0%);
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s; }
    .contacto .formulario:hover {
      border-radius: 0%;
      filter: grayscale(0%);
      transition-duration: 0s;
      transition-timing-function: linear; }
    .contacto .formulario form {
      width: 75%;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      color: #000000; }
      .contacto .formulario form .mb-3 {
        margin-top: 15px; }
        .contacto .formulario form .mb-3 textarea {
          box-shadow: 5px 5px 10px #93C5FF;
          resize: vertical;
          max-height: 150px; }
      .contacto .formulario form .borrar {
        margin-top: 20px;
        width: 150px;
        height: 50px;
        background-color: #940000;
        color: #ffffff; }
        .contacto .formulario form .borrar:hover {
          background-image: none;
          background-size: auto 210%;
          background-position: 0 100%;
          transition: background-position 0s; }
      .contacto .formulario form .enviar {
        margin-top: 20px;
        width: 150px;
        height: 50px;
        background-color: #003b94;
        color: #ffffff; }
        .contacto .formulario form .enviar:hover {
          background-image: none;
          background-size: auto 210%;
          background-position: 0 100%;
          transition: background-position 0s; } }

.parrafoaerodromo {
  width: 85%;
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 25px auto; }

.parrafoaerodromoresponsive {
  display: none; }

.containeraerodromo {
  margin: auto;
  width: 85%;
  display: flex;
  margin-bottom: 30px; }
  .containeraerodromo .card_aerodromo {
    flex: 1;
    overflow: hidden;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s;
    -o-transition-duration: 2s;
    transition-duration: 2s; }
    .containeraerodromo .card_aerodromo:hover {
      transition: all 2s;
      flex: 6; }
    .containeraerodromo .card_aerodromo img {
      object-fit: cover;
      filter: grayscale(1);
      width: 100%;
      height: 500px; }
      .containeraerodromo .card_aerodromo img:hover {
        filter: none; }

@media screen and (max-width: 768px) {
  main .parrafoaerodromo {
    display: none; }
  main .parrafoaerodromoresponsive {
    margin: 25px auto;
    font-size: 1.2rem;
    line-height: 1.5;
    display: block;
    width: 90%; }
  main .containeraerodromo {
    display: none; } }

.flota {
  text-align: center;
  margin-bottom: 45px; }
  .flota .card {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: transparent;
    -webkit-box-shadow: 14px 10px 20px -5px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 14px 10px 20px -5px rgba(0, 0, 0, 0.38);
    box-shadow: 14px 10px 20px -5px rgba(0, 0, 0, 0.38); }
    .flota .card .card-img-top {
      width: 17rem;
      height: 10rem; }

.fichatecnica {
  width: 100%;
  margin: auto;
  margin-bottom: 50px;
  padding: 0px 20px; }
  .fichatecnica .containerfichatecnica {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: "fotoflota1 	fichaflota1" "fichaflota2 	fotoflota2" "fotoflota3 	fichaflota3" "fichaflota4 	fotoflota4";
    justify-content: stretch;
    justify-items: center;
    align-items: center; }
    .fichatecnica .containerfichatecnica img {
      width: 30rem;
      height: 15rem; }
    .fichatecnica .containerfichatecnica h2 {
      text-align: center; }
    .fichatecnica .containerfichatecnica .fotoflota1 {
      grid-area: fotoflota1; }
    .fichatecnica .containerfichatecnica .fotoflota2 {
      grid-area: fotoflota2; }
    .fichatecnica .containerfichatecnica .fotoflota3 {
      grid-area: fotoflota3; }
    .fichatecnica .containerfichatecnica .fotoflota4 {
      grid-area: fotoflota4; }
    .fichatecnica .containerfichatecnica .fichaflota1 {
      grid-area: fichaflota1; }
    .fichatecnica .containerfichatecnica .fichaflota2 {
      grid-area: fichaflota2; }
    .fichatecnica .containerfichatecnica .fichaflota3 {
      grid-area: fichaflota3; }
    .fichatecnica .containerfichatecnica .fichaflota4 {
      grid-area: fichaflota4; }

@media screen and (max-width: 1024px) {
  .fichatecnica .containerfichatecnica {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "fotoflota1" "fichaflota1" "fotoflota2" "fichaflota2" "fotoflota3" "fichaflota3" "fotoflota4" "fichaflota4";
    justify-content: stretch;
    justify-items: center;
    align-items: center; }
    .fichatecnica .containerfichatecnica .fotoflota1 img {
      width: 100%; }
    .fichatecnica .containerfichatecnica .fotoflota2 img {
      width: 100%; }
    .fichatecnica .containerfichatecnica .fotoflota3 img {
      width: 100%; }
    .fichatecnica .containerfichatecnica .fotoflota4 img {
      width: 100%; }
  .flota .card {
    box-shadow: none; } }

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(18, 0.1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas: "fotoavion   	 fotoavion" "parrafosn 		 parrafosn" "testimonios 	 testimonios" "fototestimonio1 fototestimonio2" "testimonio1 	 testimonio2" 	 "valoracion1 	 valoracion2" "fototestimonio3 fototestimonio4" "testimonio3 	 testimonio4" "valoracion3 	 valoracion4 " 	 "staff 			 staff" "fotostaff1 	 fotostaff2" 		 "staff1 		 staff2" "fotostaff3 	 fotostaff4" "staff3 		 staff4" 			 "fotostaff5 	 fotostaff6" 		 "staff5 		 staff6" 	 "fotostaff7 	 fotostaff8" "staff7 		 staff8"; }
  .container1 .fotoavion {
    grid-area: fotoavion;
    justify-self: stretch;
    align-self: stretch;
    width: 100%; }
  .container1 .parrafosn {
    width: 85%;
    line-height: 1.5;
    font-size: 1.5rem;
    margin: 25px auto;
    justify-self: center;
    align-self: center;
    grid-area: parrafosn;
    text-align: center; }
  .container1 .testimonios {
    justify-self: center;
    align-self: center;
    grid-area: testimonios; }
    .container1 .testimonios h2 {
      font-size: 2rem; }
  .container1 .fototestimonio1 {
    justify-self: center;
    align-self: center;
    grid-area: fototestimonio1; }
    .container1 .fototestimonio1 img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      animation-name: fototestimonio;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
  .container1 .fototestimonio2 {
    justify-self: center;
    align-self: center;
    grid-area: fototestimonio2; }
    .container1 .fototestimonio2 img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      animation-name: fototestimonio;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
  .container1 .fototestimonio3 {
    justify-self: center;
    align-self: center;
    grid-area: fototestimonio3; }
    .container1 .fototestimonio3 img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      animation-name: fototestimonio;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
  .container1 .fototestimonio4 {
    justify-self: center;
    align-self: center;
    grid-area: fototestimonio4; }
    .container1 .fototestimonio4 img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      animation-name: fototestimonio;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
  .container1 .testimonio1 {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-area: testimonio1; }
    .container1 .testimonio1 p {
      font-size: 1.5rem;
      line-height: 1.2;
      padding: 10px 20px;
      font-style: italic; }
  .container1 .testimonio2 {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-area: testimonio2; }
    .container1 .testimonio2 p {
      font-size: 1.5rem;
      line-height: 1.2;
      padding: 10px 20px;
      font-style: italic; }
  .container1 .testimonio3 {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-area: testimonio3; }
    .container1 .testimonio3 p {
      font-size: 1.5rem;
      line-height: 1.2;
      padding: 10px 20px;
      font-style: italic; }
  .container1 .testimonio4 {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-area: testimonio4; }
    .container1 .testimonio4 p {
      font-size: 1.5rem;
      line-height: 1.2;
      padding: 10px 20px;
      font-style: italic; }
  .container1 .valoracion1 {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-area: valoracion1; }
    .container1 .valoracion1 img {
      width: 80px;
      height: 100px;
      padding-bottom: 20px; }
    .container1 .valoracion1 p {
      font-size: 1.5rem;
      font-weight: bold; }
  .container1 .valoracion2 {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-area: valoracion2; }
    .container1 .valoracion2 img {
      width: 80px;
      height: 100px;
      padding-bottom: 20px; }
    .container1 .valoracion2 p {
      font-size: 1.5rem;
      font-weight: bold; }
  .container1 .valoracion3 {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-area: valoracion3; }
    .container1 .valoracion3 img {
      width: 80px;
      height: 100px;
      padding-bottom: 20px; }
    .container1 .valoracion3 p {
      font-size: 1.5rem;
      font-weight: bold; }
  .container1 .valoracion4 {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-area: valoracion4; }
    .container1 .valoracion4 img {
      width: 80px;
      height: 100px;
      padding-bottom: 20px; }
    .container1 .valoracion4 p {
      font-size: 1.5rem;
      font-weight: bold; }
  .container1 .staff {
    justify-self: center;
    align-self: center;
    grid-area: staff; }
    .container1 .staff h2 {
      font-size: 2rem; }
  .container1 .fotostaff1 {
    justify-self: center;
    align-self: center;
    grid-area: fotostaff1; }
    .container1 .fotostaff1 img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      animation-name: fotostaff;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
  .container1 .fotostaff2 {
    justify-self: center;
    align-self: center;
    grid-area: fotostaff2; }
    .container1 .fotostaff2 img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      animation-name: fotostaff;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
  .container1 .fotostaff3 {
    justify-self: center;
    align-self: center;
    grid-area: fotostaff3; }
    .container1 .fotostaff3 img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      animation-name: fotostaff;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
  .container1 .fotostaff4 {
    justify-self: center;
    align-self: center;
    grid-area: fotostaff4; }
    .container1 .fotostaff4 img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      animation-name: fotostaff;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
  .container1 .fotostaff5 {
    justify-self: center;
    align-self: center;
    grid-area: fotostaff5; }
    .container1 .fotostaff5 img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      animation-name: fotostaff;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
  .container1 .fotostaff6 {
    justify-self: center;
    align-self: center;
    grid-area: fotostaff6; }
    .container1 .fotostaff6 img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      animation-name: fotostaff;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
  .container1 .fotostaff7 {
    justify-self: center;
    align-self: center;
    grid-area: fotostaff7; }
    .container1 .fotostaff7 img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      animation-name: fotostaff;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
  .container1 .fotostaff8 {
    justify-self: center;
    align-self: center;
    grid-area: fotostaff8; }
    .container1 .fotostaff8 img {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      animation-name: fotostaff;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }

.staff1 {
  justify-self: center;
  align-self: center;
  grid-area: staff1;
  text-align: center; }
  .staff1 p {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 10px 20px; }

.staff2 {
  justify-self: center;
  align-self: center;
  grid-area: staff2;
  text-align: center; }
  .staff2 p {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 10px 20px; }

.staff3 {
  justify-self: center;
  align-self: center;
  grid-area: staff3;
  text-align: center; }
  .staff3 p {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 10px 20px; }

.staff4 {
  justify-self: center;
  align-self: center;
  grid-area: staff4;
  text-align: center; }
  .staff4 p {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 10px 20px; }

.staff5 {
  justify-self: center;
  align-self: center;
  grid-area: staff5;
  text-align: center; }
  .staff5 p {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 10px 20px; }

.staff6 {
  justify-self: center;
  align-self: center;
  grid-area: staff6;
  text-align: center; }
  .staff6 p {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 10px 20px; }

.staff7 {
  justify-self: center;
  align-self: center;
  grid-area: staff7;
  text-align: center; }
  .staff7 p {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 10px 20px; }

.staff8 {
  justify-self: center;
  align-self: center;
  grid-area: staff8;
  text-align: center; }
  .staff8 p {
    font-size: 1.5rem;
    line-height: 1.2;
    padding: 10px 20px; }

@keyframes fotostaff {
  0% {
    border: solid 5px #f90c00; }
  50% {
    border: solid 5px #d502ff; }
  100% {
    border: solid 5px #f90c00; } }

@keyframes fototestimonio {
  0% {
    border: solid 5px #71c8f9; }
  50% {
    border: solid 5px #7dff88; }
  100% {
    border: solid 5px #71c8f9; } }

@media screen and (max-width: 768px) {
  main .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(18, 0.1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: "fotoavion 		fotoavion" "parrafosn		parrafosn" "testimonios 	testimonios" "fototestimonio1 fototestimonio2" "testimonio1 	testimonio2" "valoracion1 	valoracion2" "fototestimonio3 fototestimonio4" "testimonio3 	testimonio4" "valoracion3 	valoracion4" "staff			staff" "fotostaff1 	fotostaff2" "staff1 		staff2" "fotostaff3 	fotostaff4" "staff3 		staff4" "fotostaff5 	fotostaff6" "staff5 		staff6" "fotostaff7 	fotostaff8" "staff7 		staff8"; } }

@media screen and (max-width: 425px) {
  main .container1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(32, 0.1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas: "fotoavion" "parrafosn" "testimonios" "fototestimonio1" "testimonio1" "valoracion1" "fototestimonio2" "testimonio2" "valoracion2" "fototestimonio3" "testimonio3" "valoracion3" "fototestimonio4" "testimonio4" "valoracion4" "staff" "fotostaff1" 	 "staff1" "fotostaff2" "staff2" "fotostaff3" "staff3" "fotostaff4" "staff4" "fotostaff5"	 "staff5" "fotostaff6" "staff6" "fotostaff7" 	 "staff7" "fotostaff8" "staff8";
    overflow: hidden; } }
