.container1{  
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(18, 0.1fr);
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 10px 10px;
            grid-auto-flow: row;
            justify-content: stretch;
            justify-items: stretch;
            align-items: stretch;
            grid-template-areas:
            "fotoavion   	 fotoavion"
            "parrafosn 		 parrafosn"
            "testimonios 	 testimonios"
            "fototestimonio1 fototestimonio2"
            "testimonio1 	 testimonio2" 	
            "valoracion1 	 valoracion2"
            "fototestimonio3 fototestimonio4"
            "testimonio3 	 testimonio4"
            "valoracion3 	 valoracion4 " 	
            "staff 			 staff"
            "fotostaff1 	 fotostaff2" 		
            "staff1 		 staff2"
            "fotostaff3 	 fotostaff4"
            "staff3 		 staff4" 			
            "fotostaff5 	 fotostaff6" 		
            "staff5 		 staff6" 	
            "fotostaff7 	 fotostaff8"
            "staff7 		 staff8";
            .fotoavion{
                grid-area: fotoavion;
	            justify-self: stretch;
  	            align-self: stretch;
  	            width: 100%;
            }
            .parrafosn{
                width: 85%;
	            line-height: 1.5;
	            font-size: 1.5rem;
	            margin: 25px auto;
	            justify-self: center;
	            align-self: center;
	            grid-area: parrafosn;
                text-align: center;
            }
            .testimonios{
                justify-self: center;
                align-self: center;
                grid-area: testimonios; 
                h2{
                    font-size: 2rem;   
                }  
            }
            .fototestimonio1{
                justify-self: center;
                align-self: center;
                grid-area: fototestimonio1;
                img{
                    width: 12rem;
	                height: 12rem;
	                border-radius: 50%;
	                animation-name: fototestimonio;
	                animation-duration: 3s;
	                animation-timing-function: linear;
	                animation-iteration-count: infinite;
                }
            }
            .fototestimonio2{
                justify-self: center;
                align-self: center;
                grid-area: fototestimonio2;
                img{
                    width: 12rem;
	                height: 12rem;
	                border-radius: 50%;
	                animation-name: fototestimonio;
	                animation-duration: 3s;
	                animation-timing-function: linear;
	                animation-iteration-count: infinite;
                }
            }
            .fototestimonio3{
                justify-self: center;
                align-self: center;
                grid-area: fototestimonio3;
                img{
                    width: 12rem;
	                height: 12rem;
	                border-radius: 50%;
	                animation-name: fototestimonio;
	                animation-duration: 3s;
	                animation-timing-function: linear;
	                animation-iteration-count: infinite;
                }
            }
            .fototestimonio4{
                justify-self: center;
                align-self: center;
                grid-area: fototestimonio4;
                img{
                    width: 12rem;
	                height: 12rem;
	                border-radius: 50%;
	                animation-name: fototestimonio;
	                animation-duration: 3s;
	                animation-timing-function: linear;
	                animation-iteration-count: infinite;
                }
            }
            .testimonio1{
                justify-self: center;
                align-self: center;
                text-align: center;
                grid-area: testimonio1;
                p{
                    font-size: 1.5rem;
	                line-height: 1.2;
	                padding: 10px 20px;
	                font-style: italic;
                }
            }
            .testimonio2{
                justify-self: center;
                align-self: center;
                text-align: center;
                grid-area: testimonio2;
                p{
                    font-size: 1.5rem;
	                line-height: 1.2;
	                padding: 10px 20px;
	                font-style: italic;
                }
            }
            .testimonio3{
                justify-self: center;
                align-self: center;
                text-align: center;
                grid-area: testimonio3;
                p{
                    font-size: 1.5rem;
	                line-height: 1.2;
	                padding: 10px 20px;
	                font-style: italic;
                }
            }
            .testimonio4{
                justify-self: center;
                align-self: center;
                text-align: center;
                grid-area: testimonio4;
                p{
                    font-size: 1.5rem;
	                line-height: 1.2;
	                padding: 10px 20px;
	                font-style: italic;
                }
            }
            .valoracion1{
                justify-self: center;
                align-self: center;
                text-align: center;
                grid-area: valoracion1;
                img{
                    width: 80px;
                    height: 100px;
	                padding-bottom: 20px;
                }
                p{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
            .valoracion2{
                justify-self: center;
                align-self: center;
                text-align: center;
                grid-area: valoracion2;
                img{
                    width: 80px;
                    height: 100px;
	                padding-bottom: 20px;
                }
                p{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
            .valoracion3{
                justify-self: center;
                align-self: center;
                text-align: center;
                grid-area: valoracion3;
                img{
                    width: 80px;
                    height: 100px;
	                padding-bottom: 20px;
                }
                p{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
            .valoracion4{
                justify-self: center;
                align-self: center;
                text-align: center;
                grid-area: valoracion4;
                img{
                    width: 80px;
                    height: 100px;
	                padding-bottom: 20px;
                }
                p{
                    font-size: 1.5rem;
                    font-weight: bold;
                }
            }
            .staff{
                justify-self: center;
                align-self: center;
                grid-area: staff;
                h2{
                    font-size: 2rem;
                }
            }
            .fotostaff1{
                justify-self: center;
                align-self: center;
                grid-area: fotostaff1;
                img{
                    width: 12rem;
	                height: 12rem;
	                border-radius: 50%;
	                animation-name: fotostaff;
	                animation-duration: 3s;
	                animation-timing-function: linear;
	                animation-iteration-count: infinite;
                }
            }
            .fotostaff2{
                justify-self: center;
                align-self: center;
                grid-area: fotostaff2;
                img{
                    width: 12rem;
	                height: 12rem;
	                border-radius: 50%;
	                animation-name: fotostaff;
	                animation-duration: 3s;
	                animation-timing-function: linear;
	                animation-iteration-count: infinite;
                }
            }
            .fotostaff3{
                justify-self: center;
                align-self: center;
                grid-area: fotostaff3;
                img{
                    width: 12rem;
	                height: 12rem;
	                border-radius: 50%;
	                animation-name: fotostaff;
	                animation-duration: 3s;
	                animation-timing-function: linear;
	                animation-iteration-count: infinite;
                }
            }
            .fotostaff4{
                justify-self: center;
                align-self: center;
                grid-area: fotostaff4;
                img{
                    width: 12rem;
	                height: 12rem;
	                border-radius: 50%;
	                animation-name: fotostaff;
	                animation-duration: 3s;
	                animation-timing-function: linear;
	                animation-iteration-count: infinite;
                }
            }
            .fotostaff5{
                justify-self: center;
                align-self: center;
                grid-area: fotostaff5;
                img{
                    width: 12rem;
	                height: 12rem;
	                border-radius: 50%;
	                animation-name: fotostaff;
	                animation-duration: 3s;
	                animation-timing-function: linear;
	                animation-iteration-count: infinite;
                }
            }
            .fotostaff6{
                justify-self: center;
                align-self: center;
                grid-area: fotostaff6;
                img{
                    width: 12rem;
	                height: 12rem;
	                border-radius: 50%;
	                animation-name: fotostaff;
	                animation-duration: 3s;
	                animation-timing-function: linear;
	                animation-iteration-count: infinite;
                }
            }
            .fotostaff7{
                justify-self: center;
                align-self: center;
                grid-area: fotostaff7;
                img{
                    width: 12rem;
	                height: 12rem;
	                border-radius: 50%;
	                animation-name: fotostaff;
	                animation-duration: 3s;
	                animation-timing-function: linear;
	                animation-iteration-count: infinite;
                }
            }
            .fotostaff8{
                justify-self: center;
                align-self: center;
                grid-area: fotostaff8;
                img{
                    width: 12rem;
	                height: 12rem;
	                border-radius: 50%;
	                animation-name: fotostaff;
	                animation-duration: 3s;
	                animation-timing-function: linear;
	                animation-iteration-count: infinite;
                    }
                }
            }
            .staff1{
                justify-self: center;
                align-self: center;
                grid-area: staff1;
                text-align: center;
                p{
                    font-size: 1.5rem;
                    line-height: 1.2;
                    padding: 10px 20px;  
                }
            }
            .staff2{
                justify-self: center;
                align-self: center;
                grid-area: staff2;
                text-align: center;
                p{
                    font-size: 1.5rem;
                    line-height: 1.2;
                    padding: 10px 20px;  
                }
            }
            .staff3{
                justify-self: center;
                align-self: center;
                grid-area: staff3;
                text-align: center;
                p{
                    font-size: 1.5rem;
                    line-height: 1.2;
                    padding: 10px 20px;  
                }
            }
            .staff4{
                justify-self: center;
                align-self: center;
                grid-area: staff4;
                text-align: center;
                p{
                    font-size: 1.5rem;
                    line-height: 1.2;
                    padding: 10px 20px;  
                }
            }
            .staff5{
                justify-self: center;
                align-self: center;
                grid-area: staff5;
                text-align: center;
                p{
                    font-size: 1.5rem;
                    line-height: 1.2;
                    padding: 10px 20px;  
                }
            }
            .staff6{
                justify-self: center;
                align-self: center;
                grid-area: staff6;
                text-align: center;
                p{
                    font-size: 1.5rem;
                    line-height: 1.2;
                    padding: 10px 20px;  
                }
            }
            .staff7{
                justify-self: center;
                align-self: center;
                grid-area: staff7;
                text-align: center;
                p{
                    font-size: 1.5rem;
                    line-height: 1.2;
                    padding: 10px 20px;  
                }
            }
            .staff8{
                justify-self: center;
                align-self: center;
                grid-area: staff8;
                text-align: center;
                p{
                    font-size: 1.5rem;
                    line-height: 1.2;
                    padding: 10px 20px;  
                }
            }
        

    @keyframes fotostaff {
        0% {border: solid 5px #f90c00;}
        50% {border: solid 5px #d502ff;}
        100% {border: solid 5px #f90c00;}
    }
    @keyframes fototestimonio {
        0% {border: solid 5px #71c8f9;}
        50% {border: solid 5px #7dff88;}
        100% {border: solid 5px #71c8f9;}
    }
    @media screen and (max-width: 768px){
        main{
            .container1{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(18, 0.1fr);
                grid-auto-columns: 1fr;
                grid-auto-rows: 1fr;
                gap: 10px 10px;
                grid-auto-flow: row;
                justify-content: stretch;
                justify-items: stretch;
                align-items: stretch;
                grid-template-areas:
                "fotoavion 		fotoavion"
                "parrafosn		parrafosn"
                "testimonios 	testimonios"
                "fototestimonio1 fototestimonio2"
                "testimonio1 	testimonio2"
                "valoracion1 	valoracion2"
                "fototestimonio3 fototestimonio4"
                "testimonio3 	testimonio4"
                "valoracion3 	valoracion4"
                "staff			staff"
                "fotostaff1 	fotostaff2"
                "staff1 		staff2"
                "fotostaff3 	fotostaff4"
                "staff3 		staff4"
                "fotostaff5 	fotostaff6"
                "staff5 		staff6"
                "fotostaff7 	fotostaff8"
                "staff7 		staff8";
        }
    }
}
@media screen and (max-width: 425px){
    main{
        .container1{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(32, 0.1fr);
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 10px 10px;
            grid-auto-flow: row;
            justify-content: stretch;
            justify-items: stretch;
            align-items: stretch;
            grid-template-areas:
            "fotoavion"
            "parrafosn"
            "testimonios"
            "fototestimonio1"
            "testimonio1"
            "valoracion1"
            "fototestimonio2"
            "testimonio2"
            "valoracion2"
            "fototestimonio3"
            "testimonio3"
            "valoracion3"
            "fototestimonio4"
            "testimonio4"
            "valoracion4"
            "staff"
            "fotostaff1" 	
            "staff1"
            "fotostaff2"
            "staff2"
            "fotostaff3"
            "staff3"
            "fotostaff4"
            "staff4"
            "fotostaff5"	
            "staff5"
            "fotostaff6"
            "staff6"
            "fotostaff7" 	
            "staff7"
            "fotostaff8"
            "staff8";
        }
    }
}