
    .accordion{
        width: 100%;
        .accordion-item{
            border: none;
	        margin-top: 15px;
	        margin-bottom: 15px;
            .accordion-button:not(.collapsed){
                background-color: #ffffff;
            }
            .accordion-button{
                font-size: 1.2rem;
                &:hover{
                    font-weight: bold;
                    color: #aa00ff;
                }
            }
        }
        .accordion-body{
            color: #aa00ff;
            font-size: 1.2rem;
        }
    }